/* מרכז את הכל */
.cart-page-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.main-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.cart-table-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 0.5fr; /* מחלק את השורה לעמודות */
  padding: 10px 20px;
  color: #666;
  font-weight: bold;
}

.cart-item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 0.5fr; /* התאמה את השורה לעמודות */
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.cart-list {
  height: 600px;
  overflow-y: scroll;
}
.item-image-placeholder {
  background: #e0e0e0;
  border-radius: 8px;
  width: 200px;
  height: 150px;
  margin-right: 15px;
  border-radius: 20px;
}
.item-image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.item-info {
  display: flex;
  align-items: center;
}
p.sizeSelected {
  background-color: #faf0ff;
  padding: 4px;
  border-radius: 10px;
  width: fit-content;
  font-size: 14px;
}
.order-now-btn {
  background: #6b3d6b;
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 20px;
}
.remove-btn {
  background: #9c3f3f81;
  border: none;
  color: white;
  padding: 8px 16px;
  width: max-content;
  border-radius: 4px;
  font-size: 14px;
}
.item-text p {
  color: #616161;
}

.remove-btn:hover {
  background: #9c3f3f;
  border: none;
  color: white;
  padding: 8px 16px;
  width: max-content;
  border-radius: 4px;
  cursor: pointer;
}
.item-quantity {
  grid-template-columns: 1fr 2fr 1fr;
  width: 90%;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.item-quantity button {
  padding: 6px;
  width: 100%;
  border-radius: 4px;
  border-style: none;
  font-size: 1rem;
  background-color: rgb(238, 238, 238);
}
.item-quantity button:hover {
  padding: 6px;
  width: 100%;
  border-radius: 4px;
  border-style: none;
  font-size: 1rem;
  background-color: rgb(209, 209, 209);
  cursor: pointer;
}
.item-total {
  font-weight: 600;
}

.unitPrice {
  display: none;
}
@media (max-width: 600px) {
  .cart-table-header {
    display: none;
  }
  .cart-item {
    grid-template-columns: 1fr;
    text-align: left;
    gap: 6px;
    position: relative;
  }
  .item-image-placeholder {
    border-radius: 20px;
    background: #e0e0e0;
    border-radius: 8px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 20px;
  }

  .item-image-placeholder img {
    border-radius: 20px;
  }
  .item-text {
    text-align: left;
    /* width: 100%; */
  }
  .item-info {
    flex-direction: column;
    gap: 10px;
  }
  .order-now-btn {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
  }
  .item-quantity {
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  .item-quantity button {
    padding: 6px;
    width: 100%;
    border-radius: 4px;
    border-style: none;
    font-size: 1rem;
    background-color: rgb(238, 238, 238);
  }

  .item-quantity button:hover {
    padding: 6px;
    width: 100%;
    border-radius: 4px;
    border-style: none;
    font-size: 1rem;
    background-color: rgb(209, 209, 209);
    cursor: pointer;
  }
  .item-total {
    font-weight: 600;
  }
  .remove-btn {
    color: #fff;
    background: #9c3f3f81;
    border: none;
    border-radius: 4px;
    width: max-content;
    position: absolute;
    top: 30px;
    right: 40px;
    /* height: 40px; */
    /* padding: 8px 16px; */
    /* font-size: 16px; */
  }
  .item-price {
    display: none;
  }

  .unitPrice {
    display: block;
  }
  .unitPrice p {
    display: block;
    font-size: 13px;
    color: gray;
  }
}
