.pageWrapper {
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; 
 
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  width: 100%;
}

@media (max-width: 1024px) {
  .grid4 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .grid4 {
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
  }
}

@media (max-width: 480px) {
  .grid4 {
    grid-template-columns: 1fr ; 
  }
  
  .pageWrapper {
    padding: 12px; /* פדינג קטן יותר שמתאים לטלפון צר */
  }
}