.pageWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  width: 100%;
  justify-items: center;
  /* align-items: stretch; */
  justify-content: center;
}

h1.pageTitle {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
}
.activeCategory {
  border-left: 3px solid #6b3d6b !important;
  background: #f0e6f0 !important;
  color: #6b3d6b !important;
  font-weight: bold;
}
.containerBtns {
  display: flex;
  gap: 10px;
  width: 100%;
}
button.btn {
  width: 100px;
  background-color: #d3d3d35e;
  padding: 10px;
  border: 3px solid transparent;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: 0.3s ease;
  color: #333;
}
button.btn:hover {
  cursor: pointer;
  background-color: #6b3d6b;
  color: white;
}
.filterIcon {
  background-color: #f1f1f1;
  padding: 6px;
  border-radius: 10px;
}

.filterIcon:hover {
  cursor: pointer;
  background-color: #e4e2e2;
}
.filterContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
}
.containerBtns {
  display: flex;
  justify-content: center;
}
i.fa-solid.fa-filter {
  margin-left: 10px;
}

@media (max-width: 1024px) {
  .grid4 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .grid4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .grid4 {
    grid-template-columns: 1fr 1fr;
  }

  .pageWrapper {
    padding: 12px; /* פדינג קטן יותר שמתאים לטלפון צר */
  }
}
