.pageWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  width: 100%;
  justify-items: center;
  /* align-items: stretch; */
  justify-content: center;
}

h1.pageTitle {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
}
.containerBtns {
  display: flex;
  gap: 10px;
  width: 100%;
}
button.btn {
  width: 100px;
  background-color: #d3d3d35e;
  padding: 10px;
  border-style: none;
  display: flex;
  gap: 10px;
  height: 40px;
  width: 100px;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 4px;
  transition: 0.5s ease;
}

button.btn:hover {
  cursor: pointer;

  background-color: #6b3d6b;

  color: white;
}
.filterIcon {
  background-color: rgb(209, 209, 209);
  padding: 6px;
  border-radius: 10px;
}
.filterContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
}
.containerBtns {
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .grid4 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .grid4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .grid4 {
    grid-template-columns: 1fr 1fr;
  }

  .pageWrapper {
    padding: 12px; /* פדינג קטן יותר שמתאים לטלפון צר */
  }
}
